<html>
	<head>
		<title>priority to-do</title>
	</head>
	<body>
		<h1>priority to-do</h1>
		<form method="POST" action="/lists/new">
			<input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
			{% csrf_token %}
			<select name="priority_selection" id="id_priority_box" title="Prioridade:">
				<option value="sem prioridade">sem prioridade</option>
                <option value="prioridade alta">alta</option>
                <option value="prioridade média">média</option>
                <option value="prioridade baixa">baixa</option>
            </select>
			{% csrf_token %}
		</form>
	</body>
</html>